html[data-theme='theme2'] {
  --color-base: #f9ed69; /* Lemon Chiffon */
  --color-base1: #f89970; /* Deep Peach */
  --color-base2: #ff5c8a; /* Raspberry */
  --color-base3: #6a2c70; /* Eggplant */
  --color-baseText: #111c38; /* Dark Sapphire */
  --color-primary: #380b0b; /* Steel Blue */
  --color-secondary: #f38181; /* Soft Red */
  --color-accent: #fce38a; /* Naples Yellow */
  --color-baseShadow: #112d4e; /* Oxford Blue */
}
