@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-base: #111111;
    --color-base1: rgb(27, 27, 27);
    --color-base2: rgb(48, 48, 48);
    --color-base3: #505050;
    --color-baseText: #ffffff;
    --color-primary: rgb(85, 207, 158);
    --color-secondary: rgb(50, 168, 121);
    --color-accent: rgb(175, 243, 216);
    --color-baseShadow: rgb(0, 0, 0);
  }
  @import '../styles/themes/theme1.css';
  @import '../styles/themes/theme2.css';
}

.main-section {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #171717 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(23 23 23 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #0a0a0a var(--tw-gradient-to-position);
  box-shadow: 0 0 8px rgb(0, 0, 0); /* Add a shadow for depth */
}
.lightMode .main-section {
  background-color: #ffffff;
  border-color: #0a0a0a;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #ffffff var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(119, 119, 119, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ffffff var(--tw-gradient-to-position);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}

.skill-section {
  background-color: rgb(23, 23, 23);
}
.lightMode .skill-section {
  background-color: #ffffff;
  color: #0a0a0a;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s step-end infinite;
}

.crawl-container {
  bottom: 0;
  width: 100%;
  transform-origin: 50% 100%;
}
@keyframes crawl {
  0% {
    transform: translateY(0vh) scaleY(1.5) scaleX(1.2) rotateX(-50deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(-90vh) scaleY(0) scaleX(0.1) rotateX(-20deg);
    opacity: 0;
  }
}
.crawl-line {
  position: absolute;
  width: 100%;
  top: 455px;
  animation: crawl 50s linear infinite;
}

.my-swiper-container {
  height: 600px;
  width: 320px;
}
.my-swiper-container .swiper-pagination-bullet {
  background: rgb(85, 85, 85); /* Change the bullet's background color */
  opacity: 0.7; /* Make non-active bullets fully opaque */
  width: 10px; /* Change the bullet's width */
  height: 10px; /* Change the bullet's height */
  border: 2px solid cyan; /* Add a border to the bullet */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
  transition: transform 0.3s; /* Smoothly grow the bullet when active */
  border-radius: 50%; /* Circular bullets */
}
.my-swiper-container .swiper-pagination-bullet-active {
  background: rgb(44, 44, 44); /* Change the active bullet's background color */
  transform: scale(1.5); /* Make the active bullet larger */
  opacity: 1;
}

/* OBSERVER ANIMATIONS ################################################## 
*/

@keyframes slideInLeft {
  from {
    transform: translateX(-80%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  animation: slideInLeft 0.8s;
}

/* ------------------------------------------------ */

@keyframes slideInRight {
  from {
    transform: translateX(80%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slideInRight 0.8s;
}

/* ------------------------------------------------ */
